<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>ZePLUF Core</name>
    <summary>The core of Zencart Plugin Framework</summary>
    <preload>
        <frontend>true</frontend>
        <backend>true</backend>
    </preload>
    <notes>
    </notes>
    <authors>
        <author>
            <name>RubikIntegration team</name>
            <email>support@rubikin.com</email>
        </author>
    </authors>
    <released>Oct 14th 2012</released>
    <release>1.4.4</release>
    <license uri="http://www.symfony-project.org/license">MIT license</license>
    <dependencies>
        <required>
            <php>
                <min>5.3.0</min>
            </php>
        </required>
        <plugins>
        </plugins>
    </dependencies>
    <changelog>
        <release>
            <version>
                <release>1.4.4</release>
            </version>
            <license uri="http://www.symfony-project.com/license">MIT license</license>
            <released>Oct 14th 2012</released>
            <notes>
                * add phing build
                * new admin ui
                * some small changes to existing features
            </notes>
        </release>
        <release>
            <version>
                <release>1.4.3</release>
            </version>
            <license uri="http://www.symfony-project.com/license">MIT license</license>
            <released>Sep 14th 2012</released>
            <notes>
                * multiple minor fixes
                * more reliable setup process
                * plugins and theme settings loaded more consistently
                * some new features
            </notes>
        </release>
        <release>
            <version>
                <release>1.4.2</release>
            </version>
            <license uri="http://www.symfony-project.com/license">MIT license</license>
            <released>Aug 28th 2012</released>
            <notes>
                * Fixed some issue with re-installing a plugin with existing tables
            </notes>
        </release>
        <release>
            <version>
                <release>1.4.1</release>
            </version>
            <license uri="http://www.symfony-project.com/license">MIT license</license>
            <released>Aug 28th 2012</released>
            <notes>
                * Various bug fixes
                * Now allow core plugins to add menu to admin correctly
            </notes>
        </release>
        <release>
            <version>
                <release>1.4.0</release>
            </version>
            <license uri="http://www.symfony-project.com/license">MIT license</license>
            <released>Aug 23rd 2012</released>
            <notes>
                * Various bug fixes
                * Added more support for settings per theme
                * Added more support for frontend controller
            </notes>
        </release>
        <release>
            <version>
                <release>1.3.0</release>
            </version>
            <license uri="http://www.symfony-project.com/license">MIT license</license>
            <released>July 2nd 2012</released>
            <notes>
                * Various bug fixes
                * Added the controller support for frontend
            </notes>
        </release>
        <release>
            <version>
                <release>1.2.0</release>
            </version>
            <license uri="http://www.symfony-project.com/license">MIT license</license>
            <released>July 2nd 2012</released>
            <notes>
                * Various bug fixes and features improvement
            </notes>
        </release>
        <release>
            <version>
                <release>1.0.0</release>
            </version>
            <license uri="http://www.symfony-project.com/license">MIT license</license>
            <released>May 20th 2012</released>
            <notes>
                * first official release for ZePLUF
            </notes>
        </release>
    </changelog>
</plugin>