<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>

        <!-- configs -->
        <parameter key="storebundle.cache.status">true</parameter>
        <parameter key="http_kernel.class">Zepluf\Bundle\StoreBundle\HttpKernel</parameter>
        <parameter key="storebundle.asset_finder.class">Zepluf\Bundle\StoreBundle\AssetFinder</parameter>
        <parameter key="templating.name_parser.class">Zepluf\Bundle\StoreBundle\Templating\TemplateNameParser</parameter>
        <parameter key="templating.helper.router.class">Zepluf\Bundle\StoreBundle\Templating\Helper\RouterHelper</parameter>
        <parameter key="router.options.generator.class">Zepluf\Bundle\StoreBundle\Routing\Generator\UrlGenerator</parameter>
        <parameter key="router.options.generator_base.class">Zepluf\Bundle\StoreBundle\Routing\Generator\UrlGenerator</parameter>
        <parameter key="storebundle.settings.class">Zepluf\Bundle\StoreBundle\Settings</parameter>
        <parameter key="storebundle.plugin.class">Zepluf\Bundle\StoreBundle\Plugin</parameter>
        <parameter key="storebundle.environment.class">Zepluf\Bundle\StoreBundle\Environment</parameter>
        <parameter key="storebundle.logs.class">Zepluf\Bundle\StoreBundle\Logs</parameter>
        <parameter key="storebundle.database_patcher.class">Zepluf\Bundle\StoreBundle\DatabasePatcher</parameter>
        <parameter key="storebundle.controller_listener.class">Zepluf\Bundle\StoreBundle\EventListener\ControllerListener</parameter>
        <parameter key="storebundle.templating.template_loader.class">Zepluf\Bundle\StoreBundle\Templating\Loader\TemplateLoader</parameter>
        <parameter key="storebundle.templating.plugin_loader.class">Zepluf\Bundle\StoreBundle\Templating\Loader\PluginLoader</parameter>
        <parameter key="storebundle.templating.bundle_loader.class">Zepluf\Bundle\StoreBundle\Templating\Loader\BundleLoader</parameter>
        <parameter key="storebundle.templating.twig_bundle_loader.class">Zepluf\Bundle\StoreBundle\Templating\Loader\TwigBundleLoader</parameter>
        <parameter key="storebundle.view.class">Zepluf\Bundle\StoreBundle\Templating\View</parameter>
        <parameter key="storebundle.holders_helper">Zepluf\Bundle\StoreBundle\Templating\Helper\HoldersHelper</parameter>
        <parameter key="storebundle.settings_helper">Zepluf\Bundle\StoreBundle\Templating\Helper\SettingsHelper</parameter>
        <parameter key="storebundle.utility.collection.class">Zepluf\Bundle\StoreBundle\Utility\Collection</parameter>
        <parameter key="storebundle.utility.database_result.class">Zepluf\Bundle\StoreBundle\Utility\DatabaseResult</parameter>
        <parameter key="storebundle.utility.file.class">Zepluf\Bundle\StoreBundle\Utility\File</parameter>
        <parameter key="storebundle.utility.string.class">Zepluf\Bundle\StoreBundle\Utility\String</parameter>
        <parameter key="storebundle.utility.uri.class">Zepluf\Bundle\StoreBundle\Utility\Uri</parameter>
        <parameter key="storebundle.plugin_route_loader.class">Zepluf\Bundle\StoreBundle\Routing\PluginRouteLoader</parameter>
        <parameter key="storebundle.table_prefix_subscriber.class">Zepluf\Bundle\StoreBundle\Subscriber\TablePrefixSubscriber</parameter>
        <parameter key="storebundle.logger.zencart_handler.class">Zepluf\Bundle\StoreBundle\Logger\Handler\ZencartHandler</parameter>
        <parameter key="storebundle.cache.class">Zepluf\Bundle\StoreBundle\Cache\Cache</parameter>
        <parameter key="storebundle.cache_warmer.settings.class">Zepluf\Bundle\StoreBundle\CacheWarmer\SettingsCacheWarmer</parameter>
        <parameter key="storebundle.core_listener.class">Zepluf\Bundle\StoreBundle\EventListener\CoreListener</parameter>
        <parameter key="storebundle.request_listener.class">Zepluf\Bundle\StoreBundle\EventListener\RequestListener</parameter>

        <!-- zencart -->
        <parameter key="storebundle.zencart.admin.class">Zepluf\Bundle\StoreBundle\Zencart\Admin</parameter>

        <!-- cart -->
        <parameter key="storebundle.cart.class">Zepluf\Bundle\StoreBundle\Component\Cart\Cart</parameter>
        <parameter key="storebundle.cart_factory.class">Zepluf\Bundle\StoreBundle\Component\Cart\CartFactory</parameter>
        <parameter key="storebundle.array_storage_handler.class">Zepluf\Bundle\StoreBundle\Component\Cart\StorageHandler\ArrayStorageHandler</parameter>
        <parameter key="storebundle.session_storage_handler.class">Zepluf\Bundle\StoreBundle\Component\Cart\StorageHandler\SessionStorageHandler</parameter>

    </parameters>

    <services>
        <service id="storebundle.request_listener" class="%storebundle.request_listener.class%">
            <tag name="kernel.event_listener" event="kernel.request"/>
        </service>

        <service id="storebundle.asset_finder" class="%storebundle.asset_finder.class%">
            <argument type="service" id="kernel" />
        </service>
        <!-- settings -->
        <service id="settings" class="%storebundle.settings.class%">
            <argument>%kernel.config_dir%</argument>
            <argument>%kernel.cache_dir%</argument>
            <argument>%plugins.root_dir%</argument>
            <argument>%kernel.environment%</argument>
        </service>

        <service id="plugin" class="%storebundle.plugin.class%">
            <argument type="service" id="settings" />
            <argument>%sys%</argument>
            <argument type="service" id="event_dispatcher" />
            <argument type="service" id="environment" />
            <argument>%kernel.root_dir%</argument>
            <argument>%plugins.root_dir%</argument>
        </service>

        <service id="environment" class="%storebundle.environment.class%"></service>

        <service id="logs" class="%storebundle.logs.class%">
            <argument type="service" id="logger" />
            <argument type="service" id="environment" />
        </service>

        <service id="database_patcher" class="%storebundle.database_patcher.class%"></service>

        <service id="storebundle.controller_listener" class="%storebundle.controller_listener.class%">
            <tag name="kernel.event_subscriber" />
        </service>

        <!-- templating -->
        <service id="storebundle.templating.template_loader" class="%storebundle.templating.template_loader.class%">
            <argument type="service" id="kernel" />
        </service>

        <service id="storebundle.templating.bundle_loader" class="%storebundle.templating.bundle_loader.class%">
            <argument type="service" id="kernel" />
        </service>

        <service id="storebundle.templating.plugin_loader" class="%storebundle.templating.plugin_loader.class%">
            <argument type="service" id="kernel" />
        </service>
        <!--
   <service id="storebundle.templating.twig_bundle_loader" class="%storebundle.templating.twig_bundle_loader.class%">
       <argument type="service" id="templating.name_parser" />
       <tag name="twig.loader" alias="twig_bundle_loader" />
   </service>   -->

        <service id="view" class="%storebundle.view.class%">
            <argument type="service" id="templating" />
            <argument type="service" id="templating.engine.php" />
            <argument type="service" id="templating.name_parser" />
            <argument type="service" id="templating.loader" />
        </service>

        <!-- templating helpers -->
        <service id="templating.helper.holders" class="%storebundle.holders_helper%">
            <argument type="service" id="event_dispatcher" />
            <tag name="templating.helper" alias="holders" />
        </service>

        <service id="templating.helper.settings" class="%storebundle.settings_helper%">
            <argument type="service" id="settings" />
            <tag name="templating.helper" alias="settings" />
        </service>

        <!-- utility services -->
        <service id="utility.collection" class="%storebundle.utility.collection.class%"></service>
        <service id="utility.database_result" class="%storebundle.utility.database_result.class%"></service>
        <service id="utility.file" class="%storebundle.utility.file.class%">
            <argument type="service" id="utility.string" />
        </service>
        <service id="utility.string" class="%storebundle.utility.string.class%"></service>
        <service id="utility.uri" class="%storebundle.utility.uri.class%"></service>

        <!-- routing -->
        <service id="plugin_route_loader" class="%storebundle.plugin_route_loader.class%" public="false">
            <argument>%sys%</argument>
            <argument type="service" id="settings" />
            <tag name="routing.loader" />
        </service>

        <!-- doctrine listener -->
        <!-- <service id="storebundle.tblprefix_subscriber" class="%storebundle.table_prefix_subscriber.class%">
            <argument>%table_prefix%</argument>
            <tag name="doctrine.event_subscriber" />
        </service> -->

        <!-- loggers -->
        <service id="storebundle.logger.zencart_handler" class="%storebundle.logger.zencart_handler.class%">
            <argument type="service" id="environment" />
        </service>

        <!-- cache -->
        <service id="storebundle.cache" class="%storebundle.cache.class%">
            <argument>%storebundle.cache.status%</argument>
            <argument type="service" id="utility.file" />
            <argument>%kernel.cache_dir%</argument>
        </service>

        <!-- cache warmers -->
        <service id="storebundle.cache_warmer.settings" class="%storebundle.cache_warmer.settings.class%"
                 public="false">
            <tag name="kernel.cache_warmer" priority="20" />
            <argument>%sys%</argument>
            <argument type="service" id="settings" />
            <argument type="service" id="plugin" />
            <argument>%kernel.environment%</argument>
            <argument>%kernel.config_dir%</argument>
            <argument>%plugins.root_dir%</argument>
            <argument>%store.frontend.templates_dir%/%store.frontend.current_template%</argument>
            <argument>%store.backend.templates_dir%/%store.backend.current_template%</argument>
        </service>

        <!-- listeners -->
        <service id="storebundle.core_listener" class="%storebundle.core_listener.class%">
            <argument type="service" id="service_container" />
            <tag name="kernel.event_subscriber" />
        </service>

        <!-- zencart -->
        <service id="storebundle.zencart.admin" class="%storebundle.zencart.admin.class%">
            <argument type="service" id="settings" />
        </service>

        <!-- cart -->
        <service id="storebundle.array_storage_handler" class="%storebundle.array_storage_handler.class%"/>
        <service id="storebundle.session_storage_handler" class="%storebundle.session_storage_handler.class%">
            <argument type="service" id="session"/>
        </service>
        <service id="storebundle.cart_factory" class="%storebundle.cart_factory.class%"/>

        <service id="storebundle.cart" class="%storebundle.cart.class%"
                 factory-service="storebundle.cart_factory"
                 factory-method="get"
                >
            <argument type="service" id="storebundle.array_storage_handler"/>
            <argument type="service" id="storebundle.session_storage_handler"/>
        </service>

    </services>
</container>