<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Explicitly disable rewriting for front controllers
    #RewriteRule ^/web/app_dev.php - [L]
    #RewriteRule ^/web/app.php - [L]

    # Fix the bundles folder
    #RewriteRule ^bundles/(.*)$ /web/bundles/$1  [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    # Change below before deploying to production
    #RewriteRule ^(.*)$ /web/app.php [QSA,L]
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>